.sidebar{
    width:260px;
    height:100vh;
    background:#5C4033;
    color:white;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
}

.sidebar-logo{
    padding:35px 25px;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.sidebar-logo h2{
    font-size:30px;
}

.sidebar-logo p{
    margin-top:5px;
    color:#e7d6c6;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    padding:20px 0;
    flex:1;
}

.sidebar nav a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:18px 30px;
    color:white;
    text-decoration:none;
    transition:.3s;
    font-size:17px;
}

.sidebar nav a:hover{
    background:#8B5E3C;
}

.sidebar nav a.active{
    background:#FFF8F0;
    color:#5C4033;
    font-weight:600;
}

.sidebar nav svg{
    font-size:20px;
}