* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f7fa;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}